Repository fga-eps-mds/2020-1-Ziguen, pull requests merged in 2020-11, with the labels that each got.

#133 Review S10 - Planning S11
  docs/diagramas/diagrama_pacote0.1.0.png
  docs/imagens/planilha_horas_s10.png
  docs/imagens/quadro_conhecimento_10.jpg
  docs/sprints/planning/sprint11.md
  docs/sprints/review/sprint10.md
Labels: documentation

#129 Teste unit adm
  README.md
  __tests__/coverage/lcov-report/base.css
  __tests__/coverage/lcov-report/block-navigation.js
  __tests__/coverage/lcov-report/controllers/BoatController.js.html
  __tests__/coverage/lcov-report/controllers/SessionController.js.html
  __tests__/coverage/lcov-report/controllers/TravelController.js.html
  __tests__/coverage/lcov-report/controllers/TravelerController.js.html
  __tests__/coverage/lcov-report/controllers/UserController.js.html
  __tests__/coverage/lcov-report/controllers/index.html
  __tests__/coverage/lcov-report/favicon.png
  __tests__/coverage/lcov-report/index.html
  __tests__/coverage/lcov-report/middlewares/auth.js.html
  __tests__/coverage/lcov-report/middlewares/index.html
  __tests__/coverage/lcov-report/models/Boat.js.html
  __tests__/coverage/lcov-report/models/Travel.js.html
  __tests__/coverage/lcov-report/models/Traveler.js.html
  __tests__/coverage/lcov-report/models/User.js.html
  __tests__/coverage/lcov-report/models/index.html
  __tests__/coverage/lcov-report/prettify.css
  __tests__/coverage/lcov-report/prettify.js
  __tests__/coverage/lcov-report/sort-arrow-sprite.png
  __tests__/coverage/lcov-report/sorter.js
  __tests__/coverage/lcov.info
  __tests__/database.sqlite
  __tests__/integration/admin.test.js
  __tests__/integration/session.test.js
  __tests__/unit/admin.test.js
  package.json
  src/routes.js
Labels: Test, Travis-Ci, back-end, work in progress

#135 S11 + Diagrama de pacotes
  docs/diagramas/diagrama_pacote0.1.0.png
  docs/diagramas/diagrama_pacotes_0.1.1.jpg
  docs/imagens/planilha_horas_s11.png
  docs/imagens/quadro_conhecimento_s11.jpg
  docs/sprints/planning/sprint12.md
  docs/sprints/review/sprint11.md
Labels: Diagrama_Uml, documentation

#116 Deploy API Ziguen
  .gitignore
  Procfile
  package-lock.json
  package.json
  src/notification.md
  src/server.js
  yarn-error.log
  yarn.lock
Labels: Devops, Docker/Docker-Compose, Heroku, Node.js, back-end
